.messages-list {
    display: flex;
    flex-direction: column;
    margin-bottom: calc(80px);
    height: 100%;
    width: calc(100% - 72px);
    max-height: calc(100vh - 32px - 16px);
    overflow-y: auto;
    margin-right: 72px;
    padding: 32px;
}

.messages-list .message {
    margin-bottom: 8px;
    padding: 12px;
    background-color: var(--rim-color);
    color: var(--text-color);
    border-radius: 8px;
    width: fit-content;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.messages-list .message .ai-tag {
    font-size: 12px;
    font-weight: 400;
    color: var(--text-color);
}

.messages-list .message .user-tag {
    font-size: 12px;
    font-weight: 400;
    color: var(--accent-color);
}

.messages-list .message pre {
    margin: 0;
    white-space: pre-wrap;
    word-wrap: break-word;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

.messages-list .message.user {
    align-self: flex-end;
}

.messages-list .message.assistant {
    align-self: flex-start;
}

.messages-list .message .paper-card .authors,
.messages-list .message .paper-card .published,
.messages-list .message .paper-card .summary {
    font-size: 12px;
}