.sidebar {
    width: 72px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
}

.sidebar:hover {
    width: 300px;
}

.sidebar .top, .sidebar .bottom {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    width: 100%;
}

.sidebar .bottom {
    margin-bottom: 12px;
}

.sidebar hr {
    width: 100%;
    border: none;
    border-top: 1px solid var(--text-color);
    opacity: 0;
    margin: 0;
}

.sidebar:hover hr {
    opacity: 0.4;
}

.sidebar .project-list {
    opacity: 0;
    transition: opacity 0.1s ease;
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}

.sidebar:hover .project-list {
    opacity: 1;
    transition: opacity 0.3s ease;
    transition-delay: 0.3s;
}

.sidebar .project-list .project-item {
    padding: 12px;
    border-radius: 8px;
}

.sidebar .project-list .project-item:hover {
    background-color: var(--accent-color);
    cursor: pointer;
    transition: background-color none;
}

.sidebar .button-content {
    width: 100%;
}

.sidebar .button-content span {
    display: none;
    flex: 1;
}

.sidebar:hover .button-content span {
    display: inline;
}

.sidebar #user-icon {
    border-radius: 24px;
}

.sidebar .profile-pic {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    object-fit: cover;
}

.sidebar .bottom {
    margin-bottom: 12px;
}

.sidebar:hover button {
    width: 100%;
    border-radius: 12px;
}
